<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">Cong Le</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Cong Le</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Year of birth</label>
                <span class="value">1993</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adress</label>
                <span class="value">Westminster, CA</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">cle155@csu.fullerton.edu</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Phone</label>
                <span class="value">+1 (714) 660-8598</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="" target="_blank">www.CongLeSolutionX.tech</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Being the richest man in the cemetery doesn’t matter to me.
            Going to bed at night saying we’ve done something wonderful...that’s what matters to me.
            <i class="fa fa-quote-right"></i> <br>
            <strong> <i>- Steve Jobs </i> </strong>
        </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            I think it is possible for ordinary people to choose to be extraordinary.
            <i class="fa fa-quote-right"></i> <br>
            <strong> <i>- Elon Musk</i> </strong>

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.png" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
            <img src="images/img-profile/about_4.png" alt="" />
            <img src="images/img-profile/about_5.png" alt="" />
        </div>

    </div>

</div>


<!-- begin service -->
<div class="clear"></div>
<div class="row" id="services">
	<div class="col-md-12">
        <div class="title_content">
            <div class="text_content">My Passions</div>
            <div class="clear"></div>
        </div>


        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-camera-retro"></i></div>
                <div class="service-detail">
                    <h6>Photography</h6>
                    <p>I love to take photo and spend time to re-touch my images.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-code"></i></div>
                <div class="service-detail">
                    <h6>Coding</h6>
                    <p>I can spend hours to code and sometimes, intentionally, forget my lunch.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 pack-service">
            <div class="service">
                <div class="service-icon"><i class="fa fa-video-camera"></i></div>
                <div class="service-detail">
                    <h6>Videography</h6>
                    <p>I love to creating inspiring videos.</p>
                </div>
            </div>
        </div>
     </div>
</div><!-- End Services -->

<div class="clear"></div>
</div>
<!-- End .profile -->
